Package: com.felps.instweak
Name: InsTweak
Version: 1.0
Architecture: iphoneos-arm
Description: Remove Insta Stories ads
Maintainer: Felps
Author: Felps
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
